{
	email __TLS_EMAIL__
}

play-franchise-architect-football.vaultsparkstudios.com {
	reverse_proxy franchise-architect-football-play:8080
}

api-franchise-architect-football.vaultsparkstudios.com {
	reverse_proxy franchise-architect-football-api:8081
}
